<div class="mt-8 w-full h-full grid place-content-center">
    <div class="flex gap-4 items-center my-4">
        <input
            class="focus:outline-none placeholder:text-sky-300 text-sky-800 font-sans text-lg bg-sky-100 px-5 py-2 rounded-full shadow-inner"
            [(ngModel)]="task" placeholder="Enter a task">
        <button class="px-5 py-2 rounded-full text-lg bg-sky-600 text-white" (click)="onSubmit()">ADD</button>
    </div>

    <div *ngIf="todos.length == 0">
        <span class="text-green-400 text-sm ml-3">You have completed all your tasks :)</span>
    </div>

    <div class="flex flex-col gap-3 mt-6">
        <div *ngFor="let todo of todos">
            <app-todo [todo]="todo" (todoDelete)="deleteTodo($event)" (todoDone)="doneTodo($event)"></app-todo>
        </div>
    </div>

    <footer class="fixed bottom-0 w-full bg-transparent text-center py-2">
        <p class="text-gray-600">Made with ❤️ by <b><i>Sourabh Jana</i></b></p>
    </footer>


</div>